{% extends "mainapp/base_generic.html" %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ page_title }}</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/style.css' %}">
</head>
<body>
	{% block content %}
		{% if instruments_table %}
		    <ul>
		    {% for instruments in instruments_table %}
		        <li><a href="/mainapp/{{ instruments.id }}/">{{ instruments.manufacturer }}</a></li>
		    {% endfor %}
		    </ul>
		{% else %}
		    <p>No data available.</p>
		{% endif %}
	{% endblock %}
</body>
</html>