{% extends "mainapp/base_generic.html" %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ page_title }}</title>

</head>
<body>	
	{% block content %}
		<h1>Lab instruments.</h1>
		{% if instruments_table %}
		    <table class="table table-hover">
			    <thead>
			      <tr>
			        <th>Name</th>
			        <th>Manufacturer</th>
			        <th>Serial Num.</th>
			        <th>Model</th>
			        <th>Owner</th>
			      </tr>
			    </thead>
			    <tbody>
					{% for instruments in instruments_table %}
					<tr>
						<td><a href="{% url 'details' instruments.id %}">{{ instruments.name }}</a></td>
						<td>{{ instruments.manufacturer }}</td>
						<td>{{ instruments.serial_no }}</td>
						<td>{{ instruments.model }}</td>
						<td>{{ instruments.owner_id }}</td>        
					</tr>
					{% endfor %} 
				</tbody>
			</table>
		{% else %}
			<p>No data available.</p>
		{% endif %}
	{% endblock %}
</body>
</html>